WORDPRESS_DB_HOST=mysql:3306
WORDPRESS_DB_NAME=blog-wordpress
WORDPRESS_DB_USER=blog-wordpress
WORDPRESS_DB_PASSWORD=TU_PASSWORD
WORDPRESS_HOME=https://blog.acertijo.dev
WORDPRESS_SITEURL=https://blog.acertijo.dev